@font-face {
	font-family: "Linux Libertine";
	src: url("webfonts/bpicons.woff") format('woff');
}
html {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #c8ccd1;
	font-size: 1em;
	line-height: 1.4;
}
body {
	text-align: right;
	user-select: none;
	margin: 0;
	/* اخفاء شريط التمرير */
}
.goframe{
	margin-right: 140px;
}
span{
	margin-right: 10px;
	margin-left: 10px;
}
sc2{
	margin-right: 20px;
	margin-top: 30px;
	font-size: 11px;
	text-align: right;
}
ul2{
	text-align: right;
	width: 5px;
	font-size: 12px;
}
ul2::before{
	content: "◀";
	margin-right: 5px;
}
ul2:hover{
	color: #0645ad;
	color: green;
	cursor: pointer;
}
::-webkit-scrollbar{
	overflow: hidden;
	direction: ltr;
	width: 10px; /* عرض الشريط */
}
  /* تخصيص المساحة الخلفية للشريط */
  ::-webkit-scrollbar-track {
	background:rgba(180, 36, 36, 0.99); /* لون الخلفية */
  }
  
  /* تخصيص شكل المقبض */
  ::-webkit-scrollbar-thumb {
	background: #888; /* لون المقبض */
	border-radius: 10px; /* زوايا دائرية للمقبض */
  }
  
  /* تخصيص شكل المقبض عند التمرير فوقه */
  ::-webkit-scrollbar-thumb:hover {
	background: #000; /* لون المقبض عند التمرير فوقه */
  }

  
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block;
}
[hidden],template {
	display: none;
}
a:active,a:hover {
	cursor: pointer;
	outline: 0;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
img {
	border: 0;
	max-width: 100%;
}
hr {
	box-sizing: content-box;
	height: 0;
}
input {
	line-height: normal;
}
td,th {
	padding: 0;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio,canvas,iframe,img,svg,video {
	vertical-align: middle;
}
.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}
.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
@media print {
	*,*:before,*:after,*:first-letter,*:first-line {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding-top: 0.5em;
	padding-bottom: 0.17em;
}
.article h1 {
	font-family: 'Linux Libertine','Georgia','Times',serif;
	border-bottom: 1px solid #a2a9b1;
}
.article h2 {
	font-size: 1.6em;
	margin: 0.5em 0 0.5em 0;
	font-family: 'Linux Libertine','Georgia','Times',serif;
	border-bottom: 1px solid #a2a9b1;
	line-height: 1.4em;
	padding-bottom: 0em;
}
.article h3 {
	font-weight: bold;
	font-size: 1.2em;
}
.article p.roleNote {
	padding: 1em 0 0 1.6em;
	font-style: italic;
}
p.siteSub {
	font-size: 92%;
}
body {
	background-color: #232426;
}
ul {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0.3em 0 0 0;
}
h1 {
	line-height: 1.3;
	margin-bottom: 0.25em;
	padding: 0;
	letter-spacing: 0;
	font-size: 2.3em;
}
a, a:visited {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: green;
}
.wrapAll {
	width: 100%;
}
.sidebar {
	float: left;
	width: 9em;
	padding: 3px 1.5em 10px 1.3em;
	position: absolute;
}
.sidebar h3 {
	font-size: 1.3em;
	color: #999;
	font-weight: normal;
	margin: 2em 0 0 0;
	padding: 0.25em 0;
	cursor: default;
	border: 0;
	border-bottom: 1px solid #717071;
}
.sidebar li {
	line-height: 1.125em;
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	word-wrap: break-word;
}
.sidebar ul2 {
	font-size: 1.5em;
}
.sidebar sc2 {
	font-size: 1.3em;
}
div.articleRight {
	padding: 3px;
	width: 100px;
	float: right;
	background-color: #23242600;
	font-size: 94%;
	text-align: center;
	line-height: 1.4em;
	padding: 3px;
	font-size: 94%;
	margin: 0 0 5px 15px;
	text-align: right;
}
div.articleRightInner {
	border: 1px solid #b1b1b1; /*c8ccd1*/
	padding: 3px;
	background-color: #b1b1b1; /*a2a9b1*/;
	font-size: 94%;
	text-align: right;
	overflow: hidden;
	color: #000000;
	margin-bottom: 40px;
}

.logo {
	margin-bottom: 0px;
}
.navigation {
	margin-top: 5px;
	padding: 0.15em 0 0 0.45em;
}
.mainsection {
	margin: 0 0 0 11em;
}
.headerLinks {
	text-align: right;
	padding: 0.8em 1.4em;
	font-size: 0.72em;
	color: #777;
	letter-spacing: 0.017em;
}
.headerLinks a{
	display: inline-block;
	margin: 0 0 0 0.5em;
}
.tabs {
}
.tabs ul li a {
	display: block;
	background: url(img/hhh.png) bottom left repeat-x transparent;
	font-size: 0.85em;
	padding: 1em 0.5em 0;
	line-height: 2em;
	position: relative;
	top: 1px;
	left: 1px;
	border-bottom: 1px solid #232426;
}
.tabs ul li a.active {
	background: #fff0;
	border-bottom-color: #232426;
}
.tabs ul {
	display: inline-block;
	background: url(img/hhh.png) repeat-x top left transparent;
	letter-spacing: 0;
	margin: 0;
	padding: 0 1px 0 0;
}
.tabs ul li {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	display: inline-block;
	float: left;
	margin: 0 3px 0 9px;
}
.tabs ul {
}
.tabsLeft {
	line-height: 0;
	float: left;
}
#searchBox, #filterBox {
	margin-left: -10px;
	width: 140px;
	height: 25px;
	text-align: right;					
	padding: 0px;
	color: #555555;
	border: 1px #ccc;
	border-radius: 5px;
	outline: none;
							
}
.tabsRight {
	float: right;
	line-height: 0;
}
.article {
	padding: 1.25em 1.5em 1.5em 1.5em;
	border-left: 1px solid #717071;
	background: #232426;
	line-height: 1.6;
	font-size: 0.875em;
	border-top: 1px solid #717071;
	border-bottom: 1px solid #717071;
	text-align: center;
}
.article p {
	line-height: inherit;
	margin: 0.5em 0;
}
.sections {	
	margin-top: 20px;
}
span.user {
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url('http://www.w3.org/2000/svg');
	padding-left: 15px !important;
	margin-left: 40px;
}
.contentsPanel {
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	padding: 5px;
	font-size: 95%;
	position: relative;
	line-height: 1.7em;
	width: 280px;
}
.contentsHeader {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}
.hidePanel, .showPanel {
	float: right;
	margin: 0 5px;
	position: absolute;
	right: 20px;
	cursor: pointer;
	color: #0645ad;
	top: 4px;
}
.contentsPanel ul li {
	display: inline-block;
	margin-right: 8px;
}
.contentsPanel ul li {
}
.contentsPanel ul {
	padding: 0 0 5px 5px;
}
.contentsPanel ul li ul{
}
.contentsPanel ul li ul li {
	padding: 0 0 0 25px;
}
.showPanel {
	display: none;
}
.minimizedPanel .showPanel {
	display: block;
}
.minimizedPanel .hidePanel {
	display: none
}
.contentsPanel.minimizedPanel {
	width: 130px;
}
.minimizedPanel .contentsHeader {
	text-align: left;
}
.lavenderBox {
	background: #fdfdfd;
	border: 1px solid #a2a9b1;
	clear: both;
	font-size: 88%;
	text-align: center;
	padding: 3px;
	line-height: 1.7em;
	margin: 1em auto 0;
}
.lavenderBox .header {
	background: #ccccff;
	padding: 0.25em 1em;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
	color: #0645ad;
	font-size: 115%;
	margin-bottom: 3px;
}
.lavenderBox .subtitle {
	background: #ddddff;
}
.linklist a:after {
	content: " · ";
	font-weight: bold;
}
.linklist a:last-child:after {
	content: "";
}
.linklist a {
	white-space: nowrap;
}
.categories {
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	padding: 5px;
	margin-top: 1em;
	font-size: 1.1em;
	clear: both;
}
.categories a:after {
	content: " | ";
	font-weight: bold;
}
.categories a:last-child:after {
	content: "";
}
.pagefooter {
	text-align: center;
	padding: 3em 0em 0em;
	font-size: 75%;
	line-height: 2em;
}
.pagefooter a {
	display: inline-block;
	margin-right: 1em;
}
@media screen and (max-width: 850px) {
	#searchInput {
		width: 110px;
	}
	#simpleSearch {
		width: 138px;
	}
}
@media screen and (max-width: 700px) {
	.tabsRight {
		display: none;
	}
}
@media screen and (max-width: 550px) {
	.sidebar {
		width: 6em;
		padding: 3px 0.5em 10px 0.5em;
	}
	.mainsection {
		margin: 0 0 0 7em;
	}
	.contentsPanel {
		width: auto;
	}
}
@media screen and (max-width: 400px) {
	#simpleSearch {
		display: none;
	}
}
